<div class="container">
  <div class="row">
      <div class="col-8 offset-4">
          <form class="form-inline my-4">
              <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
          </form>
      </div>
  </div>
<div class="container">
  <div class="row">
      <div class="col-12">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th (click)="onColumnSelect('id')">#</th>
                      <th (click)="onColumnSelect('name')">Name</th>
                      <th (click)="onColumnSelect('superPower')">Superpower</th>
                      <th (click)="onColumnSelect('address')">Address</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let hero of heroList$ | async | filter:phrase:'name' | sorter:columnKey">
                      <td>
                          {{ hero.id}}
                      </td>
                      <td>
                          {{ hero.name }}
                      </td>
                      <td>
                          {{ hero.superPower }}
                      </td>
                      <td>
                          {{ hero.address }}
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
